<div class="row">
  <div class="large-6 columns">
    <h3>EC Senators</h3>

    <table class="responsive full-width">
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Committees</th>
        </tr>
      </thead>
      <tbody>
        {% for senator in site.data.senate['EC'] %}
          <tr>
            <td>Section {{ senator['section'] }}</td>
            <td><a href="mailto:{{senator['email']}}">{{ senator['name'] }}</a></td>
            <td>
              {% for c in senator['committees'] %}
                <div class="officer-item">{{ c }}</div>
              {% endfor %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="large-6 columns">
    <h3>RC Senators</h3>

    <table class="responsive full-width">
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Committees</th>
        </tr>
      </thead>
      <tbody>
        {% for senator in site.data.senate['RC'] %}
          <tr>
            <td>Section {{ senator['section'] }}</td>
            <td><a href="mailto:{{senator['email']}}">{{ senator['name'] }}</a></td>
            <td>
              {% for c in senator['committees'] %}
                <div class="officer-item">{{ c }}</div>
              {% endfor %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</div>

